<% @title = "Renvoyer les instructions de confirmation"%>

<%= render "shared/header", title: @title %>
<div class="d-flex flex-column align-items-center mt-5">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class:'form-control' %>
    </div>

    <%= render "devise/shared/submit_button", text: @title, form: f %>
  <% end %>
</div>

<%= render "devise/shared/links" %>
