 <%html_id_for_category = "category-#{category.id}"%>
 <%menu_id = menu.id%>
 <%category_id = category.id%>
 <div id="accordion">
   <div class="row">
    <!--********* START OF Buttons up and down*****************-->
    <div class="col-md-1 d-flex justify-content-start align-items-end">
      <%= button_to user_menu_path(:id => menu_id, category_id: category_id, action_type: "move_category_up"), :method => :put, class:"btn" do %>
      <i class="fas fa-arrow-up" style="color: black;" data-toggle="tooltip" data-placement="top" title="Remonter Catégorie"></i>
      <%end%>
    </div>
    <div class="col-md-1 d-flex justify-content-start align-items-end">
      <%= button_to user_menu_path(:id => menu_id, category_id: category_id, action_type: "move_category_down"), :method => :put, class:"btn" do %>
      <i class="fas fa-arrow-down" style="color: black;" data-toggle="tooltip" data-placement="top" title="Redescendre catégorie"></i>
      <%end%>
    </div>
    <!--********* END OF Buttons up and down*****************-->
    <div class="col-md-7 d-flex justify-content-center align-items-center">
      <h3> <%= category.name %></h3>
    </div>
    <!--********* START OF Button to expand th addItem part*****************-->
    <div class="col-md-1 d-flex justify-content-end align-items-end">
      <button class="btn" data-toggle="collapse" data-target="#<%=html_id_for_category%>" aria-expanded="false" aria-controls="collapse-<%=html_id_for_category%>">
        <i class="fas fa-plus-circle" style="color: black;" data-toggle="tooltip" data-placement="top" title="Ajouter un item à la catégorie"></i>
      </button>
    </div>
    <!--********* END OF Button to expand th addItem part*****************-->
    <!--********* START OF Button Delete Category*****************-->
    <div class="col-md-1 d-flex justify-content-end align-items-end">
      <%= button_to user_menu_path(:id => menu.id, category_id: category.id, action_type: "delete_category"), :method => :put, class:"btn" do%>
      <i class="fas fa-trash-alt" style="color: black;" data-toggle="tooltip" data-placement="top" title="Supprimer la catégorie"></i>
      <%end%>
    </div>
    <!--********* END OF Button Delete Category*****************-->
  </div>
  <!--****** Unfolding part of accordion-->
  <div id="<%=html_id_for_category%>" class="row collapse" aria-labelledby="headingX" data-parent="#accordion">
    <div class="card-body">
      <%= form_tag(user_menu_path(id: menu.id, category_id: category.id, action_type: "add_item_to_category"), method: "put") do %>
      <%= label_tag "Ajouter un item à la catégorie", nil , class: "form-label" %>
      <!--******* START OF row to add item *******-->
      <div class="row">
        <div class="col-md-11 d-flex justify-content-end align-items-end">
          <%= select_tag 'item_type_id', options_from_collection_for_select(category.category_type.item_types.order(:name), "id", "name_and_price"), class: "form-control"%>
        </div>
        <!--********* START OF Button Add Item *******-->
        <div class="col-md-1 d-flex justify-content-end align-items-end">
          <%= button_tag type: "submit", class: "btn" do%>
          <i class="fas fa-plus fa-2x" data-toggle="tooltip" data-placement="top" title="Ajouter l'item"></i>
          <%end%>
        </div>
        <!--********* END OF Button Add Item *******-->
      </div>
      <!--******* END OF row to add item *******-->
      <%end%>
    </div>
  </div>
</div>
