    <%= render "shared/header", title: @menu.title%>

	      <h1>Editer le menu n°: <%= @menu.id%> </h1>
	      <%= @menu.name%>
		<br><br>
	      <%= @menu.title%>
		<br><br>
	      <%= @menu.subtitle%>
		<br><br>
			<%= @menu %>
		<%= form_for edit_user_menu_path do |f| %>
		       <div class ="form_group">
			        <label> Nom du menu </label>
			        <%= f.text_field :name, class: 'form-control' %>
		       </div>
		       <div class ="form_group">
			        <label> Le titre du menu :  </label>
			        <%= f.text_area :title, class: 'form-control' %>
		        </div>
		       <div class ="form_group">
			        <label> Sous-titre du menu :  </label>
			        <%= f.text_area :subtitle, class: 'form-control' %>
		        </div>

		        <br><br>
		       <div class ="form_group">
			        <button type="submit" class="btn btn-primary">Valider</button>
		        </div>
		<% end%>
	</div>
 </section>
