    <%= render "shared/header", title: @menu.title%>

<section class="section_menu" id="section_menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
	        </div>
	        <div class="col-md-6">
		      	<h1>Editer le menu n°: <%= @menu.id%> </h1>
		  		<%= form_for @menu, url: user_menu_path(id: @menu.id), method: :put do |f| %>
		       		<div class ="form_group">
			        	<label> Nom du menu  </label>
			        	<%= text_area_tag :name, @menu.name, class: 'form-control' %>
		       		</div>
		       		<div class ="form_group">
			        	<label> Le titre du menu :  </label>
			        	<%= text_area_tag :title, @menu.title, class: 'form-control' %>
		        	</div>
		       		<div class ="form_group">
			        	<label> Sous-titre du menu :  </label>
			        	<%= text_area_tag :subtitle, @menu.subtitle, class: 'form-control' %>
		        	</div>

		        	<br><br>
		       		<div class ="form_group">
			        	<button type="submit" class="btn btn-primary">Modifier</button>
		        	</div>
				<% end%>
		</div>
		</div>
	</div>
</section>
