<%= render "shared/header", title: "Vos Menus" %>

<div class="container mt-5">

  <%@menu.each do |menu|%>
  <div class="card mb-5">
    <div class="card-body ml-4 d-flex align-items-center justify-content-between">

      <div >
        <p><strong> <%= menu.name %></strong></p>
      </div>
    
      <div class="d-flex align-items">
        <div class="p-2">
          <div class="option_delete">
            <%= button_to "Voir", user_menu_path(:id => menu.id), :method => :get, class:"btn btn-primary" %>
          </div>
        </div>

        <div class="p-2">
          <div class="option_delete">
            <%= button_to "Editer", edit_user_menu_path(:id => menu.id), :method => :get, class:"btn btn-outline-secondary" %>
          </div>
        </div>

        <div class="p-2">
          <div class="option_delete">
            <%= button_to "Supprimer", user_menu_path(:id => menu.id), :method => :delete, class:"btn btn-danger"%>
          </div>
        </div>
      </div>
    </div>

  </div>
  <%end%>
</div>