<%= render "shared/header", class:'header_menu_show', title: @title%>
<!-- section menu -->
<section class="section_menu" id="section_menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12 menu_show">
                <h2 class="section_title no-shade">&#x2212; <%= @title %> &#x2212;</h2>
                <% if @menu.subtitle %>
                <h3 class="text-center"><%= @menu.subtitle %></h3>
                <% end %>
                <hr class="section_title_line">
                <% @menu.categories.each do |category|%>
                <%= render "category", category: category %>
                <% end %>
            </div>
        </div>   
    </div>
    <div class="d-flex justify-content-around flex-wrap my-5">
    <%= button_to "Retour à Mes Menus", user_menus_path, :method => :get, class:"btn btn-primary text-center my-2", style:'min-width: 240px;', id:"pdf_link1" %>
    <%= button_to "Editer", edit_user_menu_path(:id => @menu.id), :method => :get, class:"btn btn-outline-secondary my-2", style:'min-width: 240px;', id:"pdf_link2" %>
    <%= link_to 'Générer un document PDF', user_menu_path(:id => @menu.id, :format => :pdf), class:"btn btn-primary my-2", style:'min-width: 240px;', id:"pdf_link3", target:'_blank' %>
    </div>
</section>
