  <!--################################################-->
  <!--############### Accordion ######################-->
  <!--################################################-->
  <div class="container-fluid">
    <div id="accordion">
      <!--******************* Ajouter une Catégories *******************-->
      <div class="row align-items-end">
        <div class= "col-md-12">
          <%= form_tag(category_types_path, method: "post") do %>
          <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <h5 class="mb-0 btn collapsed">
               Créer une nouvelle catégorie
             </h5>
           </div>
           <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <%= label_tag "Nom", nil , class: "form-label" %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-11 d-flex justify-content-end align-items-end">
                  <%= text_field_tag :name, nil, placeholder: "Ex : Nos Salades...", class: "form-control", :required => 'required' %>
                </div>
                <div class="col-md-1 d-flex justify-content-end align-items-end">
                  <%= button_tag type: "submit", class: "btn" do%>
                  <i class="fas fa-plus fa-2x"></i>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <!--******************* Ajouter un Item *******************-->
    <div class="row align-items-center">
      <div class="col-md-12">
        <%= form_tag(item_types_path, method: "post") do %>
        <div class="card">
          <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h5 class="mb-0 btn collapsed">
              Créer un nouvel item
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div class="row align-items-center">
                <div class= "col-md-11">
                  <!--1st line-->
                  <div class="row align-items-end">
                    <!--Name-->
                    <div class= "col-md-3">
                      <%= label_tag "Nom", nil , class: "form-label" %>
                      <%= text_field_tag :name, nil, placeholder: "Ex : Steak tartare/Eau pétillante/Expresso...", class: "form-control", :required => 'required' %>
                    </div>
                    <!--Description-->
                    <div class= "col-md-7">
                      <%= label_tag "Description", nil , class: "form-label" %>
                      <%= text_field_tag :description, nil, placeholder: "Description", class: "form-control", :required => 'required' %>
                    </div>
                    <!--Prix-->
                    <div class= "col-md-2">
                      <%= label_tag "Prix en €", nil , class: "form-label" %>
                      <%=number_field_tag 'price', nil, step: 0.1, class: "form-control", :required => 'required'%>
                    </div>
                  </div>
                  <!--2nd line : Category-->
                  <div class="row align-items-end">
                    <div class= "col-md-12">
                      <%= label_tag "Catégorie", nil , class: "form-label" %>
                      <%= select_tag 'category_type_id', options_from_collection_for_select(@category_types, "id", "name"), class: "form-control"%>
                    </div>
                  </div>
                </div>
                <!--button add-->
                <div class="col-md-1 d-flex justify-content-end align-items-start">
                  <%= button_tag type: "submit", class: "btn mt-5" do%>
                  <i class="fas fa-plus fa-2x"></i>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--################################################-->
<!--################ Fin Accordion #################-->
<!--################################################-->
