<!--Header-->
<table  class="table table-hover mt-2">
  <thead>
    <tr>
      <th class="w-10-vw">Nom</th>
      <th class="w-60-vw">Description</th>
      <th class="w-10-vw">Prix</th>
      <th class="w-30-vw" colspan= "3"></th>
    </tr>
  </thead>
  <!--Item Info-->
  <tbody>
  <% category_type.item_types.each do |item_type| %>
    <tr>
      <td><%= item_type.name %></td>
      <td><%= item_type.description %></td>
      <td><%= item_type.price %> €</td>
      <td></td>
      <td>
          <button
            class="btn"
            data-toggle="collapse"
            data-target="#editItem<%= item_type.id%>"
            aria-expanded="false" aria-controls="collapse-category-<%=item_type.id %>" >
            <i
              class="fas fa-pencil-alt"
              data-toggle="tooltip"
              data-placement="top"
              title="Modifier l'item"
            ></i>
          </button>
      </td>
      <td> <%= button_to item_type_path(:id => item_type.id), :method => :delete, class:"btn" do%>
        <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Supprimer l'item"></i>
        <%end%>
      </td>
    </tr>
    <tr>
      <%= render "item_types_form" %>
    </tr>
    <%end%>
  </tbody>
</table>
