<%= render "shared/header", title: @title %>


<!--################################################-->
<!--########## Adding Categories/Items ##############-->
<!--################################################-->

<%= render "add_header"%>

<div class="container">
  <div id="itemForm"></div>

  <!--################################################-->
  <!--########## List of Categories/Items ##############-->
  <!--################################################-->
    <!--******************* Catégories *******************-->
    <%@category_types.order(:name).each do |category_type|%>
    <div class="categoryElt">
      <%= render "category_types/category_type", category_type: category_type %>

      <!--******************* Items *******************-->
      <%if category_type.item_types.length !=0%>

      <%= render "item_types", category_type: category_type %>

      <%end%>
    </div>
    <%end%>
  </div>
</div>


<%= render "remove_item_footer"%>
