<div class="container">

  <div class="row">
    <p>Bienvenue dans votre espace admin pour les items <%= current_user.first_name %> <%=current_user.last_name%></p>
  </div>



  <%@category_types.each do |category_type|%>
  <div class="d-flex flex-row">

    <div class="mr-auto p-2">
      <h4> <%= category_type.name %></h4>
    </div>

    <div class="p-2">
      <div class="option_delete">
        <%= button_to "Supprimer", category_type_path(:id => category_type.id), :method => :delete, class:"btn btn-primary"%>
      </div>
    </div>

    <div class="p-2">
      <div class="option_delete">
        <%= button_to "Editer", edit_category_type_path(:id => category_type.id), :method => :get, class:"btn btn-primary" %>
      </div>
    </div>

  </div>

  <%if category_type.item_types.length !=0%>
  <table id="items">
    <tr>
      <th class="w-10-vw">Name</th>
      <th class="w-60-vw">Description</th>
      <th class="w-10-vw">Price</th>

    </tr>

    <% category_type.item_types.each do |item_type| %>
    <tr>
      <td><%= item_type.name %></td>
      <td><%= item_type.description %></td>
      <td><%= item_type.price %> â‚¬</td>
      <td class="option_delete"> <%= button_to "ðŸ—‘ï¸", item_type_path(:id => item_type.id), :method => :delete, class:"btn btn-secondary" %></td>
      <td class="option_delete"> <%= button_to "ðŸ–‹ï¸", edit_item_type_path(:id => item_type.id), :method => :get, class:"btn btn-secondary" %></td>
    </tr>
    <%end%>
  </table>
  <%end%>
  <%end%>
</div>
