<%= render "shared/header", title: @title %>
<div class="container">

  <!--################################################-->
  <!--########### Ajouter une catégorie ##############-->
  <!--################################################-->

  <div class="row align-items-end">
    <div class= "col-md-11">
      <%= form_tag(category_types_path, method: "post") do %>
      <h5> Ajouter une nouvelle catégorie </h5>
      <%= label_tag "Nom", nil , class: "form-label" %>
      <%= text_field_tag :name, nil, placeholder: "Ex : Nos Salades...", class: "form-control", :required => 'required' %>
    </div>
    <div class="col-md-1 d-flex justify-content-end align-items-end">
      <%= button_tag type: "submit", class: "btn" do%>
      <i class="fas fa-plus fa-2x"></i>
      <%end%>
      <% end %>
    </div>
  </div>

  <!--################################################-->
  <!--############## Ajouter un item #################-->
  <!--################################################-->

  <div class="row align-items-end">
    <div class= "col-md-12">
      <%= form_tag(item_types_path, method: "post") do %>
      <h5> Ajouter un nouvel item </h5>
    </div>
  </div>
  <div class="row align-items-end">
    <div class= "col-md-2">
      <%= label_tag "Nom", nil , class: "form-label" %>
      <%= text_field_tag :name, nil, placeholder: "Ex : Steak tartare/Eau pétillante/Expresso...", class: "form-control", :required => 'required' %>
    </div>
    <div class= "col-md-7">
      <%= label_tag "Description", nil , class: "form-label" %>
      <%= text_field_tag :description, nil, placeholder: "Description", class: "form-control", :required => 'required' %>
    </div>
    <div class= "col-md-2">
      <%= label_tag "Prix en €", nil , class: "form-label" %>
      <%=number_field_tag 'price', nil, step: 0.1, class: "form-control", :required => 'required'%>
    </div>
  </div>
  <div class="row align-items-end">
    <div class= "col-md-11">
      <%= label_tag "Catégorie", nil , class: "form-label" %>
      <%= select_tag 'category_type_id', options_from_collection_for_select(@category_types, "id", "name"), class: "form-control"%>
    </div>
    <div class="col-md-1 d-flex justify-content-end align-items-end">
      <%= button_tag type: "submit", class: "btn" do%>
      <i class="fas fa-plus fa-2x"></i>
      <%end%>
    </div>
  </div>
  <% end %>

  <!--################################################-->
  <!--########## Liste Catégories/Items ##############-->
  <!--################################################-->

  <!--******************* Catégories *******************-->
  <%@category_types.each do |category_type|%>
  <div class="row">

    <div class="col-md-10 d-flex justify-content-center align-items-end">
      <h3> <%= category_type.name %></h3>
    </div>

    <div class="col-md-1 d-flex justify-content-end align-items-end">
      <%= button_to category_type_path(:id => category_type.id), :method => :delete, class:"btn" do%>
      <i class="fas fa-trash-alt" style="color: black;"></i>
      <%end%>
    </div>

    <div class="col-md-1 d-flex justify-content-end align-items-end">
      <%= button_to edit_category_type_path(:id => category_type.id), :method => :get, class:"btn" do %>
      <i class="fas fa-pencil-alt" style="color: black;"></i>
      <%end%>
    </div>
  </div>

  <!--******************* Items *******************-->
  <!--Header-->
  <%if category_type.item_types.length !=0%>
  <table  class="table table-hover mt-2">
    <tr>
      <th class="w-10-vw">Nom</th>
      <th class="w-60-vw">Description</th>
      <th class="w-10-vw">Prix</th>
      <th class="w-10-vw"> </th>
      <th class="w-10-vw"> </th>

    </tr>
    <!--Item Info-->
    <% category_type.item_types.each do |item_type| %>
    <tr>
      <td><%= item_type.name %></td>
      <td><%= item_type.description %></td>
      <td><%= item_type.price %> €</td>
      <td> <%= button_to item_type_path(:id => item_type.id), :method => :delete, class:"btn" do%>
        <i class="fas fa-trash-alt"></i>
        <%end%>
      </td>
      <td> <%= button_to edit_item_type_path(:id => item_type.id), :method => :get, class:"btn" do%>
        <i class="fas fa-pencil-alt"></i>
        <%end%>
      </td>
    </tr>
    <%end%>
  </table>
  <%end%>
  <%end%>
</div>
</div>
