<div class="container">
  <div class="row">

    <p>Bienvenue dans votre espace admin pour les items <%= current_user.first_name %> <%=current_user.last_name%>)</p>

  </div>



  <%@menu_categories.each do |category|%>
  <div class="row">
   <%= category.name %>
   <p class="option_delete"> <%= button_to "Supprimer", menu_categories_path(:id => category.id), :method => :delete, class:"btn btn-primary" %></p>
   <p class="option_delete"> <%= button_to "Editer", edit_menu_category_path(:id => category.id), :method => :get, class:"btn btn-primary" %></p>
 </div>

 <tr>
  <table id="items">
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Created at</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <% category.items.each do |item| %>
  <tr>
    <td><%= item.id %></td>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td><%= item.price %></td>
    <td><%= item.created_at %></td>
    <td class="option_delete"> <%= button_to "Supprimer", menu_item_path(:id => item.id), :method => :delete, class:"btn btn-primary" %></td>
    <td class="option_delete"> <%= button_to "Editer", edit_menu_item_path(:id => item.id), :method => :get, class:"btn btn-primary" %></td>
  </tr>
  <% end %>
  <%end%>
</table>

</div>
</div>
