<div class="contacts_form__body mt-5 mb-5 p-5 border border-grey shadow">
<!-- Alert message -->
<div class="alert" id="form_message" role="alert"></div>
<!-- Form -->

<%= form_for("/send-contact-email")  do |f| %>
  <!-- Email -->
  <div class="form-group">
    <%= f.email_field :email, class: "form-control", placeholder: "Entrez ici votre adresse email", tabindex: 1, autocomplete: "email", required: true %>
  </div>
   <!-- Name -->
  <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "Entrez ici votre nom", tabindex: 2, required: true %>
  </div>
  <!-- Message -->
  <div class="form-group">
    <%= f.text_area :message, class: "form-control", rows: 6, placeholder: "Entrez votre message", tabindex: 3, required: true %>
  </div>
  <!-- Note -->
  <div class="form-group">
      <small class="text-light">
              * Tous les champs sont requis.
      </small>
  </div>
  <!-- Submit -->
  <div class="actions">
    <%= f.submit "Envoyer le message", class:'btn btn-primary', tabindex: 4 %>
  </div>
<% end %>