      <!-- HEADER
      ================================================== -->
      <section class="section section_header section_header__about">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">

              <!-- Heading -->
              <h1 class="section__heading section_header__heading text-center">
                Qui sommes-nous ?
              </h1>

              <!-- Breadcrumbs -->
              <ol class="breadcrumb">
                <li><a href="index_default.html">Accueil</a></li>
                <li class="active">Qui sommes nous ?</li>
              </ol>

            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
        <div class="section_header__bg about_bg"></div>
      </section>


      <!-- section team -->
      <section class="section_team">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="section_title">&#8722; Our team &#8722;</h2>
              <hr class="section_title_line">
              <p class="section_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sint est quidem excepturi rem officia fugit quia maxime explicabo nisi numquam, recusandae quisquam iste earum.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="team__item">
                <div class="team__item_photo">
                <%= image_tag "team_photo_1.jpg",:alt => "", :class => "img-responsive" %>   
                </div>
                <div class="team__item_name">
                  <h3>Lionel</h3>
                </div>
                <div class="team__item_overlay">
                  <p class="team__item_profession">Porteur de projet</p>
                  <ul class="team__item_social">
                    <li class="social_icon"><a href="#"><i class="icon ion-social-facebook-outline"></i></a></li>
                    <li class="social_icon"><a href="#"><i class="icon ion-social-twitter-outline"></i></a></li>
                    <li class="social_icon"><a href="#"><i class="icon ion-social-instagram-outline"></i></a></li>
                  </ul>
                </div>
              </div> <!-- .team_item -->
            </div>
            <div class="col-sm-4">
              <div class="team__item">
                <div class="team__item_photo">
                <%= image_tag "team_photo_2.jpg",:alt => "", :class => "img-responsive" %>   
                </div>
                <div class="team__item_name">
                  <h3>Tahina</h3>
                </div>
                <div class="team__item_overlay">
                  <p class="team__item_profession">Chef de projet</p>
                  <ul class="team__item_social">
                    <li class="social_icon"><a href="#"><i class="icon ion-social-facebook-outline"></i></a></li>
                    <li class="social_icon"><a href="#"><i class="icon ion-social-twitter-outline"></i></a></li>
                    <li class="social_icon"><a href="#"><i class="icon ion-social-instagram-outline"></i></a></li>
                  </ul>
                </div>
              </div> <!-- .team_item -->
            </div>
            <div class="col-sm-4">
              <div class="team__item">
                <div class="team__item_photo">
                <%= image_tag "team_photo_3.jpg",:alt => "", :class => "img-responsive" %>   
                </div>
                <div class="team__item_name">
                  <h3>Baptiste</h3>
                </div>
                <div class="team__item_overlay">
                  <p class="team__item_profession"></p>
                  <ul class="team__item_social">
                    <li class="social_icon"><a href="#"><i class="icon ion-social-facebook-outline"></i></a></li>
                    <li class="social_icon"><a href="#"><i class="icon ion-social-twitter-outline"></i></a></li>
                    <li class="social_icon"><a href="#"><i class="icon ion-social-instagram-outline"></i></a></li>
                  </ul>
                </div>
              </div> <!-- .team_item -->
            </div>
          </div> <!-- .row -->
          <br>
          <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
              <div class="team__item">
                <div class="team__item_photo">
                <%= image_tag "team_photo_1.jpg",:alt => "", :class => "img-responsive" %>   
                </div>
                <div class="team__item_name">
                  <h3>Noël</h3>
                </div>
                <div class="team__item_overlay">
                  <p class="team__item_profession">Database master</p>
                  <ul class="team__item_social">
                    <li class="social_icon"><a href="#"><i class="icon ion-social-facebook-outline"></i></a></li>
                    <li class="social_icon"><a href="#"><i class="icon ion-social-twitter-outline"></i></a></li>
                    <li class="social_icon"><a href="#"><i class="icon ion-social-instagram-outline"></i></a></li>
                  </ul>
                </div>
              </div> <!-- .team_item -->
            </div>
            <div class="col-sm-4">
              <div class="team__item">
                <div class="team__item_photo">
                <%= image_tag "team_photo_2.jpg",:alt => "", :class => "img-responsive" %>   
                </div>
                <div class="team__item_name">
                  <h3>Cédric</h3>
                </div>
                <div class="team__item_overlay">
                  <p class="team__item_profession">Front Master</p>
                  <ul class="team__item_social">
                    <li class="social_icon"><a href="#"><i class="icon ion-social-facebook-outline"></i></a></li>
                    <li class="social_icon"><a href="#"><i class="icon ion-social-twitter-outline"></i></a></li>
                    <li class="social_icon"><a href="#"><i class="icon ion-social-instagram-outline"></i></a></li>
                  </ul>
                </div>
              </div> <!-- .team_item -->
            </div>
          </div> <!-- .row -->


        </div> <!-- .container -->
      </section>


      <!-- section review -->
      <section class="section_review">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h2 class="section_review_title">En quelques mots...</h2>
            </div>
            <div class="col-sm-8">
              <div id="carousel-review" class="carousel carousel_review slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-review" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-review" data-slide-to="1"></li>
                  <li data-target="#carousel-review" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <p class="review_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate atque eveniet, aut enim quasi eaque repellendus hic, provident tempora sint nulla totam quo nemo velit labore magnam quaerat molestias ad veritatis voluptatibus nobis molestiae illum!</p>
                    <h5 class="review_author">&#8722; Franz Kafka &#8722;</h5>
                  </div>
                  <div class="item">
                    <p class="review_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate atque eveniet, aut enim quasi eaque repellendus hic, provident tempora sint nulla totam quo nemo velit labore magnam quaerat molestias ad veritatis voluptatibus nobis molestiae illum!</p>
                    <h5 class="review_author">&#8722; Ernest Hemingway &#8722;</h5>
                  </div>
                  <div class="item">
                    <p class="review_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate atque eveniet, aut enim quasi eaque repellendus hic, provident tempora sint nulla totam quo nemo velit labore magnam quaerat molestias ad veritatis voluptatibus nobis molestiae illum!</p>
                    <h5 class="review_author">&#8722; Pablo Picasso &#8722;</h5>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-review" role="button" data-slide="prev">
                  <%= image_tag "arrow_left.svg",:alt => "Préced." %>   

                  </a>
                  <a class="right carousel-control" href="#carousel-review" role="button" data-slide="next">

                <%= image_tag "arrow_right.svg",:alt => "Suiv." %>   
                  </a>
                </div> <!-- .carousel_inner -->
              </div>
            </div>
          </div> <!-- .row -->
        </div> <!-- .container -->
      </section>

