<%= render "shared/header", title: @title%>
<!-- section team -->
<section class="section_team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section_title">&#x2212; Notre équipe &#x2212;</h2>
        <hr class="section_title_line">
        <p class="section_caption">Issu de la session 8 (<a href="http://www.alexandra-david-neel.com/">Alexandra David-Neel</a>) de <a href="http://www.thehackingproject.org">The Hacking Project</a>, Lyon By Night rassemble une équipe de professionnels aux compétences complémentaires, dévouée à obtenir les meilleurs résultats pour la mise en page des menus de ses clients.</p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <% @team.each do |teammate|%>
      <%= render "person", person: teammate %>
      <% end %>
    </div>
    <!-- .container -->
  </div>
</section>
<!-- section review -->
<section class="section_review">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="section_review_title">En quelques mots...</h2>
      </div>
      <div class="col-md-8">
        <div id="carousel-review" class="carousel carousel_review slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <%for slide in (0...@team.length) do %>
              <% unless slide == 0 %>
              <li
                data-target="#carousel-review"
                data-slide-to="<%= slide %>"
              ></li>
              <% else %>
              <li
                data-target="#carousel-review"
                data-slide-to="<%= slide %>"
                class="active"
              ></li>
              <% end %>
            <% end %>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <% @team.each do |teammate|%>
            <%= render "quote", author: teammate %>
            <% end%>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-review" role="button" data-slide="prev">
              <%= image_tag "arrow_left.svg", alt: "Précedent" %>
            </a>
            <a class="right carousel-control" href="#carousel-review"    role="button" data-slide="next">
              <%= image_tag "arrow_right.svg", alt: "Suivant" %>
            </a>
          </div>
          <!-- .carousel_inner -->
        </div>
      </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</section>