<div data-spy="scroll" data-target=".navbar" data-offset="70">
    <!-- TO THE TOP BUTTON
    ================================================== -->
    <a id="back-to-top" href="#section_welcome" class="btn btn-primary back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
      <i class="ion-android-arrow-up"></i>
    </a>

    <!-- CONTENT
    ==================================================== -->

    <!-- section welcome -->
    <section class="section_welcome" id="section_welcome" style="background-color: black;">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="welcome_content">
              <h1 class="welcome_content_heading">Menuajours</h1>
              <p class="welcome_content_subheading">Créateur d'envies</p>
              <ul class="welcome_content_logo d-flex align-items-center justify-content-center">
                <li><%= image_tag "dash_icon.svg", :alt => "dash_icon", :class => "icon_banner" %></li>
                <li><%= image_tag "fork_mini_icon.svg", :alt => "fork_mini_icon", :class => "img-responsive icon_banner" %></li>
                <li><%= image_tag "menu_mini_icon.svg", :alt => "menu_mini_icon", :class => "img-responsive icon_menu_mini_banner" %></li>
                <li><%= image_tag "knife_mini_icon.svg", :alt => "knife_mini_icon", :class => "img-responsive icon_banner" %></li>
                <li><%= image_tag "dash_icon.svg", :alt => "dash_icon", :class => "icon_banner" %></li>
              </ul>
              <h3 class="welcome_content_caption">Créer votre futur menu en quelques clicks</h3>
              <div class="welcome_content_btn">
                <a href="#section_about" class="btn btn-default">Discover</a>
              </div>
            </div> <!-- .welcome_content -->
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </section>

    <!-- section about -->
    <section class="mt-4">

        <div class="row">
          <div class="col-sm-12">
            <h2 class="section_title">&#8722; Création &#8722;</h2>
            <hr class="section_title_line">
            <p class="text-center">En 3 étapes simple, créer un menu rapidement, à votre image.</p>
          </div>
        </div>

      <div class="row d-flex justify-content-around mt-4">

          <div class="col-md-3">
            <div class="about_img">
              <%= image_tag "menu_icon.svg", :alt => "menu_icon.svg", :class => "img-responsive about_img" %>
            </div>
            <h3 class="about_desc__title">Choisissez<br/> <span style="font-size: 25px;">votre</span> modèle</h3>
            <p class="about_desc__text">Choisissez parmis nos nombreux modèles celui qui vous convient</p>
          </div>


          <div class="col-md-3">
            <div class="about_img">
              <%= image_tag "edit_icon.svg", :alt => "edit_icon.svg", :class => "img-responsive about_img" %>
            </div>
            <h3 class="about_desc__title">Editer<br/> <span style="font-size: 25px;">votre</span> menu</h3>
            <p class="about_desc__text">Personnaliser votre menu selon vos envies</p>
          </div>

          <div class="col-md-3">
            <div class="about_img">
              <%= image_tag "print_icon.svg", :alt => "print_icon.svg", :class => "img-responsive about_img" %>
            </div>
            <h3 class="about_desc__title">Imprimer<br/> <span style="font-size: 25px;">et</span> partager</h3>
            <p class="about_desc__text">Il ne vous reste plus qu'à imprimer le rendu, et/ou à la partager directement sur le web!</p>
          </div>

        </div> <!-- end row -->

      </div>
    </section>

    <!-- section menu -->
    <section class="section_menu" id="section_menu">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section_title">&#8722; Menu &#8722;</h2>
            <hr class="section_title_line">
            <p class="section_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit mollitia, temporibus aliquid quae, repellendus eaque? Illo harum omnis sed debitis ratione dolor.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <ul class="nav nav-tabs menu_nav">
              <li role="presentation" class="active"><a href="#" role="tab" data-filter=".menu_breakfast">Breakfast</a></li>
              <li role="presentation"><a href="#" role="tab" data-filter=".menu_lunch">Lunch</a></li>
              <li role="presentation"><a href="#" role="tab" data-filter=".menu_dinner">Dinner</a></li>
              <li role="presentation"><a href="#" role="tab" data-filter=".menu_drinks">Drinks</a></li>
              <li role="presentation"><a href="#" role="tab" data-filter=".menu_desserts">Desserts</a></li>
            </ul>
          </div>
        </div>

        <div class="row menu__grid">
          <div class="col-sm-4 menu__item menu_breakfast">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/breakfast_1.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$6.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_breakfast">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/breakfast_2.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$10</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_breakfast">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/breakfast_3.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum<span class="price">$8</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_breakfast">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/breakfast_4.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$7.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_breakfast">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/breakfast_5.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$5.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_breakfast">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/breakfast_6.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$8</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_lunch" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/lunch_1.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$15</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_lunch" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/lunch_2.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$8.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_lunch" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/lunch_3.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$13.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_lunch" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/lunch_4.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$7.8</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_lunch" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/lunch_5.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$9.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_lunch" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/lunch_6.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$12</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_dinner" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/dinner_1.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$14</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_dinner" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/dinner_2.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$11.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_dinner" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/dinner_3.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$10.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_dinner" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/dinner_4.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$13</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_dinner" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/dinner_5.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$21</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_dinner" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/dinner_6.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$19</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_dinner" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/dinner_7.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$17</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_drinks" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/drinks_1.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$6</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_drinks" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/drinks_2.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$7</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_drinks" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/drinks_3.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$4</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_drinks" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/drinks_4.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$18</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_drinks" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/drinks_5.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$11</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_drinks" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/drinks_6.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$12</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_drinks" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/drinks_7.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$15</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_desserts" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/desserts_1.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$11</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_desserts" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/desserts_2.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$10</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_desserts" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/desserts_3.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$7.5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_desserts" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/desserts_4.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$8</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_desserts" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/desserts_5.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$5</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 menu__item menu_desserts" style="display: none;">
            <div class="menu__item_hover">
              <!-- <img src="assets/img/desserts_6.jpg" class="img-responsive" alt="..."> -->
              <div class="menu__item_overlay">
                <h3>Lorem ipsum <span class="price">$12</span></h3>
                <p class="overlay_info">Ingredients: Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing.</p>
              </div>
            </div>
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </section>

<div>