<div data-spy="scroll" data-target=".navbar" data-offset="70">
    <!-- CONTENT
    ==================================================== -->

    <!-- section welcome -->
    <section class="section_welcome" id="section_welcome">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-3">
            <div class="welcome_content">
              <h1 class="welcome_content_heading">Menu à jour</h1>
              <p class="welcome_content_subheading">Créateur d'envies</p>
              <ul class="welcome_content_logo d-flex align-items-center justify-content-center">
                <li><%= image_tag "dash_icon.svg", :alt => "dash_icon", :class => "icon_banner" %></li>
                <li><%= image_tag "fork_mini_icon.svg", :alt => "fork_mini_icon", :class => "img-responsive icon_banner" %></li>
                <li><%= image_tag "menu_mini_icon.svg", :alt => "menu_mini_icon", :class => "img-responsive icon_menu_mini_banner" %></li>
                <li><%= image_tag "knife_mini_icon.svg", :alt => "knife_mini_icon", :class => "img-responsive icon_banner" %></li>
                <li><%= image_tag "dash_icon.svg", :alt => "dash_icon", :class => "icon_banner" %></li>
              </ul>
              <h3 class="welcome_content_caption">Créez et adaptez le menu de votre restaurant <br/> en quelques clics</h3>
              <% if user_signed_in? %>
                <div class="d-flex align-items-center justify-content-center">
                <div class="welcome_content_btn mr-5">
                  <%= link_to "Mes plats", user_item_types_path(current_user.id), class: "btn btn-default mb-4" %>
                </div>
                <div class="welcome_content_btn ml-5">
                  <%= link_to "Mes menus", user_menus_path(current_user.id), class: "btn btn-default mb-4" %>
                </div>
              </div>
              <% elsif %>
                <div class="welcome_content_btn">
                  <%= link_to "Notre offre", notre_offre_path, class: "btn btn-default mb-4" %>
                </div>
              <% end %>
            </div> <!-- .welcome_content -->
            <div class="down-container">
              <div class="down"><a href="#creation_process"><i class="fas fa-chevron-down fa-3x"></i></a></div>
            </div>
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </section>

    <!-- section about -->
    <section class="mt-4">

        <div class="row creation-subsection" id="creation_process">
          <div class="col-sm-12">
            <h2 class="section_title">&#8722; Création &#8722;</h2>
            <hr class="section_title_line">
            <p class="text-center">En 3 étapes simples, créez un menu rapidement, à votre image.</p>
          </div>
        </div>

      <div class="row d-flex justify-content-around mt-4 creation-subsection">
          <% @steps.each do |step| %>
          <%= render "step", step: step %>
          <% end %>
        </div> <!-- end row -->
      </div>
    </section>
    <section id="warning-small-devices">Pour profiter de nos services, consulter notre site sur un ordinateur.</section>

