<div data-spy="scroll" data-target=".navbar" data-offset="70">
    <!-- TO THE TOP BUTTON
    ================================================== -->
    <a id="back-to-top" href="#section_welcome" class="btn btn-primary back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
      <i class="ion-android-arrow-up"></i>
    </a>

    <!-- CONTENT
    ==================================================== -->

    <!-- section welcome -->
    <section class="section_welcome" id="section_welcome">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-3">
            <div class="welcome_content">
              <h1 class="welcome_content_heading">Menu à jour</h1>
              <p class="welcome_content_subheading">Créateur d'envies</p>
              <ul class="welcome_content_logo d-flex align-items-center justify-content-center">
                <li><%= image_tag "dash_icon.svg", :alt => "dash_icon", :class => "icon_banner" %></li>
                <li><%= image_tag "fork_mini_icon.svg", :alt => "fork_mini_icon", :class => "img-responsive icon_banner" %></li>
                <li><%= image_tag "menu_mini_icon.svg", :alt => "menu_mini_icon", :class => "img-responsive icon_menu_mini_banner" %></li>
                <li><%= image_tag "knife_mini_icon.svg", :alt => "knife_mini_icon", :class => "img-responsive icon_banner" %></li>
                <li><%= image_tag "dash_icon.svg", :alt => "dash_icon", :class => "icon_banner" %></li>
              </ul>
              <h3 class="welcome_content_caption">Créez et adaptez le menu de votre restaurant <br/> en quelques clics</h3>
              <div class="welcome_content_btn">
                <a href="#creation_process" class="btn btn-default mb-4">Découvrir</a>
              </div>
            </div> <!-- .welcome_content -->
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </section>

    <!-- section about -->
    <section class="mt-4">

        <div class="row creation-subsection" id="creation_process">
          <div class="col-sm-12">
            <h2 class="section_title">&#8722; Création &#8722;</h2>
            <hr class="section_title_line">
            <p class="text-center">En 3 étapes simples, créez un menu rapidement, à votre image.</p>
          </div>
        </div>

      <div class="row d-flex justify-content-around mt-4 creation-subsection">
          <% @steps.each do |step| %>
          <%= render "step", step: step %>
          <% end %>
        </div> <!-- end row -->
      </div>
    </section>

