<div class="container d-flex justify-content-center">

	<div class="col-md-8 d-flex flex-column align-items-center mt-5 mb-5 justify-content-around border border-primary" style="height: 500px;">

		<h2 style="text-decoration: underline; text-decoration-color: #f1ae2b;">Mon offre actuelle</h2>

		<div><%= @subscription.name %></div>
		<div><%= @subscription.price %>/mois</div>
		<div>
			<p>Avantage 1</p>
			<p>Avantage 2</p>
			<p>Avantage 3</p>

		</div>
		<div>
			<p>Abonné depuis le : <%= @subscription.start_date %></p>
			<p>Abonné jusqu'au : <%= @subscription.end_date %></p>
		</div>

		<%= button_to 'Supprimer mon abonnement', user_subscription_path(current_user.id, @subscription.id), method: 'delete', class:'btn btn-danger'%>
		

	</div>
	
</div>