<%= form_for([:admin, @admin_subscription]) do |f| %>
  <% if @admin_subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_subscription.errors.count, "error") %> impossible d'enregistrer cet utilisateur:</h2>

      <ul>
      <% @admin_subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :name, "Nom de l'abonnement" %>
    <%= f.text_area :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :start_date, "Date de départ" %>
    <%= f.text_area :start_date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :end_date, "Date de fin" %>
    <%= f.text_area :end_date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price,  "Prix" %>
    <%= f.text_area :price, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, "utilisateur associé" %>
    <%= f.text_area :user_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit  class: 'btn btn-default' %>
  </div>
<% end %>
