<!-- section footer -->
    <footer class="section_footer bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 px-3">
            <h3 class="section_footer_heading">Coordonnées</h3>
            <p><i class="icon ion-ios-telephone-outline"></i> <%= @phone %></p>
            <p><i class="icon ion-ios-email-outline"></i> <%= @email %></p>
          </div>
          <div class="col-sm-6 col-md-4 px-3">
            <h3 class="section_footer_heading">Suivez-nous</h3>
            <div class="social">
              <ul>
              <% @socials.each do | social |%>
               <li class="social_icon pl-0 pr-3">
                <%= link_to social[:link], class: "ml-0" do %>
                  <i class="<%= social[:icon]%>"></i>
                <% end %>
                </li>
              <% end %>
              </ul>
            </div> <!-- .social -->
          </div>
          <div class="col-sm-6 col-md-4 px-3">
            <h3 class="section_footer_heading">Aide</h3>
            <div id="supports">
                <% @supports.each do |support| %>
                <p class="col-6">
                  <%= link_to support[:route], class: "ml-0" do %>
                    <%= support[:text] %>
                  <% end %>
                </p>
                <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <hr />
            <div class="footer-infos">
                <p class="footer_info"> 2019 Lyon By Night</p>
                <% unless user_signed_in? %>
                  <p class="footer_info"> <%= link_to 'admin', new_admin_session_path %></p>
                <% end %>
            </div>
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </footer>