<!-- navbar -->
<nav class="navbar navbar-light bg-light fixed-top navbar-expand-md">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
    data-target="#navbar__collapse" aria-expanded="false"> <span class="sr-only">Menu</span>#x2630;</button>
    <div class="collapse navbar-collapse" id="navbar__collapse1">
      <ul class="nav navbar-nav ml-auto mr-0 pr-0" style="float: right;">
        <li class="nav-item">
          <%= link_to "Accueil", root_path, class: "nav-link mx-3" %>
        </li>
        <li class="nav-item">
          <%= link_to "Notre offre", notre_offre_path, class: "nav-link mx-3" %>
        </li>
        <% if admin_signed_in? %>
        <li class="nav-item">
          <%= link_to "Espace Admin", admin_users_path, class: "nav-link mx-3" %>
        </li>
        <% end %>
      </ul>
    </div>
    <%= link_to root_path, class:"nav-link mx-3" do%>
    <%= image_tag "Maj_logo.png", :alt => "logo", :class => "logo" %></i>
    <%end%>
    <div class="collapse navbar-collapse" id="navbar__collapse2">
      <ul class="nav navbar-nav ml-auto">
        <!-- General links -->
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link mx-3" %>
        </li>
        <% if user_signed_in? %>
        <li class="dropdown nav-item"> <a href="#" class="dropdown-toggle nav-link mx-3" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><%= current_user.email %></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Mon profil", user_path(current_user.id), class: "dropdown-item" %></li>
            <li><%= link_to "Mes plats", user_item_types_path(current_user.id), class: "dropdown-item" %></li>
            <li><%= link_to "Mes menus", user_menus_path(current_user.id), class: "dropdown-item" %></li>
            <% if is_subscribed_user? %>
            <li><%= link_to "Mon offre", user_subscriptions_path(current_user.id), class: "dropdown-item" %></li>
            <% else %>
            <li><%= link_to "S'abonner", new_user_subscription_path(current_user.id), class: "dropdown-item" %></li>
            <% end %>
            <li><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <% else %>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link mx-3" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false">
          Connexion
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "S'enregistrer", new_user_registration_path, class: "dropdown-item" %>
          </li>
          <li>
            <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
          </li>
        </ul>
      </li>
      <% end %>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
